.DS_Store
*.dSYM
main.dSYM
external
asciiart
emsdk
node_modules
package-lock.json
frontend/scripts/a.out*
frontend/style.css
frontend/scripts/tailwind-browser.js
frontend/node_modules
frontend/a.out.js
frontend/a.out.wasm
