.DS_Store
*.dSYM
main.dSYM
asciiart
emsdk
node_modules
package-lock.json
frontend/asciiart*
frontend/scripts/asciiart*
frontend/style.css
frontend/scripts/tailwind-browser.js
frontend/node_modules
build-web